

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#subtitle.final {
    background: #ddeeff;
}

.video-container {
    display: table;
    width: 200px;

}
.video-container video {
    width: 100%;
}

