<div ng-show="error">{{ error }}</div>

<!-- User request -->
<div ng-show="requestUser">
    {{ requestUserError }}
    <form name="request" novalidate>
        <input name="userName" ng-model="userName" required placeholder="Your Name"></input>
        <div ng-show="request.userName.$dirty && request.userName.$error.required">Tell us your name, please.</div>

        <button ng-click="createRoom(userName)" ng-show="needToCreateRoom" class="btn btn-primary"
                ng-disabled="request.$invalid" ng-enter>Create Room
        </button>
        <button ng-click="joinRoom(userName)" ng-hide="needToCreateRoom" class="btn btn-primary"
                ng-disabled="request.$invalid" ng-enter>Join Room
        </button>
    </form>
</div>
</div>


<!-- Chat -->

<aside class="side-section">
    <div class="chat-container" ng-controller="ChatCtrl">
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                {{currentLang.label}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="lang in langs"><a href="#" ng-click="setLang(lang.value)">lang.label</a></li>
            </ul>
        </div>

        <div class="chat">
            <input name="message" ng-model="message" class=" orm-control" placeholder="Message"></input>
            <button ng-click="sendMessage(message)" class="chat-send btn btn-primary">Send</button>
        </div>

        <ul class="chat-messages list-group">
            <li class="list-group-item" ng-hide="messages">No chat messages available</li>
            <li class="list-group-item" ng-repeat="message in messages track by $index">
                {{ message.streamId }}:
                {{message.text }}
            </li>
        </ul>
    </div>

    <nav class="controls">
        <a class="item" href="" ng-click="toggleScreenShare()" ng-class="{'active': isFeatureActive('screen-share')}">Share Screen</a>
        <a class="item" href="" ng-click="toggleSide('chat')" ng-class="{'active': isFeatureActive('chat')}">Chat</a>
    </nav>

</aside>

<section class="main-section">
    <div class="video-container">
        <video id="myvideo" autoplay muted></video>
    </div>
    <video id="mainVideo" autoplay muted></video>
    <h2 id="subtitle" class="subtitle" ng-class="{'active': currentMessage.length}">
        <span class="text">{{currentMessage}}</span>
    </h2>
</section>


