<div ng-show="error">{{ error }}</div>

<!-- Smart sharing -->
<div ng-show="smartSharing" style="width: 500px; height: 500px; border: 1px solid red;">
    <input name="url" ng-model="url" class="form-control" placeholder="Url"></input>
    <iframe id="ifr" ng-src="{{ trustSrc('https://cahoots.local:8080/proxy/' + url) }}"></iframe>
</div>

<!-- Chat -->
<aside class="side-section">
    <div class="chat-container" ng-controller="ChatCtrl">
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currentLang.label}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="lang in langs"><a href="#" ng-click="setLang(lang.value)">{{lang.label}}</a></li>
            </ul>
        </div>

        <div class="chat">
            <input name="message" ng-model="message" class=" orm-control" ng-enter placeholder="Message"></input>
            <button ng-click="sendMessage(message)" class="chat-send btn btn-primary">Send</button>
        </div>

        <ul class="chat-messages list-group">
            <li class="list-group-item" ng-hide="messages">No chat messages available</li>
            <li class="list-group-item" ng-repeat="message in messages track by $index">
                {{ message.userName.name }}:
                <span ng-show="!message.translations[currentLang.value]">{{ message.text }}</span>
                <span ng-show="message.translations[currentLang.value]">{{ message.translations[currentLang.value].text }}</span>

            </li>
        </ul>
    </div>

    <nav class="controls">
        <a class="item item-lock" href="" ng-click="toggleLock()">
            <i class="icon-unlocked"></i>
        </a>
        <a class="item" href="" ng-click="toggleModal()">
            <i class="icon-invite"></i>
        </a>
        <a class="item item-video-mute" href="" ng-click="toggleMuteVideo('video-mute')" ng-class="{'active': isFeatureActive('video-mute')}">
            <i class="icon-video-off"></i>
        </a>
        <a class="item item-audio-mute" href="" ng-click="toggleMuteAudio('audio-mute')" ng-class="{'active': isFeatureActive('audio-mute')}">
            <i class="icon-mute"></i>
        </a>
        <a class="item" href="" ng-click="toggleSide('chat')" ng-class="{'active': isFeatureActive('chat')}">
            <i class="icon-chat"></i>
        </a>
        <a class="item item-disabled">
            <i class="icon-record"></i>
        </a>
        <a class="item item-share" href="" ng-click="toggleScreenShare('screen-share')" ng-class="{'active': isFeatureActive('screen-share')}">
            <i class="icon-share"></i>
        </a>
        <a class="item item-share" href="" ng-click="toggleScreenShare('link-share')" ng-class="{'active': isFeatureActive('link-share')}">
            <i class="icon-share"></i>
        </a>

        <a class="item item-endcall" ui-sref="login">
            <i class="icon-endcall"></i>
        </a>
    </nav>

</aside>

<section class="main-section">
    <div class="container">
        <modal title="{{ title }}" visible="showModal">
            test
        </modal>
    </div>

    <div class="video-container">
        <video id="myvideo" autoplay muted></video>
    </div>
    <video id="mainVideo" autoplay muted></video>
    <h2 id="subtitle" class="subtitle" ng-class="{'active': currentMessage.length}">
        <span class="text">{{currentMessage}}</span>
    </h2>
    <div class="frame-container" ng-controller="FrameCrl">
        <input type="url" ng-model="frameUrl"/>
        <iframe ng-src="frameApi + frameUrl"></iframe>
    </div>
</section>


